@model IEnumerable<GestionScolarité.Models.Etudiant>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des étudiants</h2>

<p>
    @Html.ActionLink("Ajouter un étudiant", "Create")
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Id de section</th>
            <th>Rôle</th>
            <th>Email</th>
            <th>Mot de passe</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> Editer
                    </a>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Détails
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
