@model IEnumerable<GestionScolarité.Models.Etudiant>

@{
    ViewBag.Title = "Liste des étudiants";
}

<div class="container my-5">
    <h2>Liste des étudiants</h2>

    <p>
        @Html.ActionLink("Inscrire un nouvel étudiant", "InscriptionEtudiant")
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Section</th>
                    <th>Adresse e-mail</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nom)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prenom)</td>
                        <td>@Html.DisplayFor(modelItem => item.IdSection)</td>
                        <td>@Html.DisplayFor(modelItem => item.Mail)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>
                            <div class="d-flex">
                                @Html.ActionLink("Détails", "Details", new { id = item.Id }, new { @class = "btn btn-primary me-2" })
                                @Html.ActionLink("Affecter Section", "Edit", new { id = item.Id }, new { @class = "btn btn-warning me-2" })
                                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger me-2", onclick = "return confirm('Voulez-vous vraiment supprimer cet étudiant ?')" })
                                @if (item.Status == "Non confirmé")
                                {
                                    @Html.ActionLink("Confirmer", "Confirmer", new { id = item.Id }, new { @class = "btn btn-primary me-2" })
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
